@each $key, $value in $grid-breakpoints {
  .container-#{$key}{
    max-width:  $value;
    padding:0 $spacer-wrapper;
    margin: 0 auto;
  }
}

.container-full{
  padding:0 $spacer-wrapper;
  width: 100%;
}
