@import "helpers/variables";
@import "helpers/mixins";
@import "base/normalize";
@import "base/base-all";
@import "grid";
@import "containers";
@import "buttons";


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
}

body {}

body.open {
  position: fixed;
}

main {
  padding-top: 50px;
}

footer {
  background-color: $primary;
  color: #fff;
  text-align: center;
  line-height: 1.5;
  &.for-tour-base{
    @include max(lg){
      margin-bottom: 4rem;
    }
    
  }

  .footer-inner {
    max-width: 1200px;
    padding: $spacer+$spacer-s $spacer-wrapper $spacer;
    margin: 0 auto;
  }

  p {
    display: inline-block;
    padding-right: $spacer;
    margin-bottom: $spacer-s;
  }
}

//導覽
.nav-bar-container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: $spacer-wrapper;
  padding-right: $spacer-wrapper;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;

  .toggler {
    display: none;
    border: 0;
    background: none;
    font-size: $h2-font-size;
    color: #fff;
    cursor: pointer;

    &:focus {
      outline: 0;
    }

    @include max(xl) {
      display: block;
    }
  }
}

.nav-bar {
  background-color: $primary;
  padding: $spacer-s 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
}

.nav-bar__list {
  @include max(xl) {
    background-color: $gray-100;
    @include transition;
    position: fixed;
    transform: translateX(120%);
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 100;

    &.open {
      transform: translateX(0);
    }
  }

  ul {
    display: flex;
    align-items: center;

    @include max(xl) {
      flex-wrap: wrap;
      height: 100%;
      align-content: flex-start;
      text-align: center;
      padding-top: 3rem;
    }

    li {
      @include max(xl) {
        width: 100%;
      }

      a {
        color: #fff;
        padding: 0 $spacer-s;
        display: block;
        font-weight: bolder;

        @include max(xl) {
          color: $gray-800;
          padding: $spacer-s;
        }

        &:hover {
          color: #FFFF99;

          @include max(xl) {
            color: $primary;
          }
        }

        &.icon-link {
          display: inline-block;
          padding: 0 0 0 $spacer-s;

          @include max(xl) {
            padding: $spacer-s;
          }
        }
      }

      &+li {
        border-left: #fff 1px solid;

        @include max(xl) {
          border: 0;
        }

        &:last-child {
          border: 0;
        }
      }
    }
  }

  .close {
    display: none;
    border: 0;
    background: none;
    font-size: $h2-font-size;
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: $spacer;
    top: $spacer;
    color: $gray-800;

    &:focus {
      outline: 0;
    }

    @include max(xl) {
      display: block;
    }
  }
}

.top-category {
  background-color: $light-bg;
  margin-bottom: $spacer-bottom;
  @include border-bottom;

  .dropdown {
    display: none;
    position: absolute;
    padding: $spacer $spacer-s;
    min-width: 18rem;
    @include border;
    top: 38px;
    left: 0;
    background-color: #fff;

  
    @include max(xl) {
   
    }

    a {
      padding: 0 $spacer-s;

      &+a {
        margin-top: $spacer;
      }
    }
  }

  .dropdown-mobile {
    position: static;
    top: 90px;
    border: 0;
    padding: 0 $spacer-s;
    flex-wrap: wrap;
    min-width:0;
  
    &.show {
      display: flex;
    }

    a {
      display: block;
      width: 50%;
      text-align: center;
      padding: $spacer $spacer-s;

      &+a {
        margin-top: 0;
      }
    }
  }

  ul {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
   
    font-weight: bolder;

    @include max(xl) {
      justify-content: flex-start;
      overflow-x: scroll;
      overflow-y: hidden;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none
      }
    }

    li {
      position: relative;

      @include max(xl) {
        flex: none;
      }

      &:hover {
        @include min(xl) {
          .dropdown {
            display: block;
          }
        }
      }

      a {
        display: block;
        padding: $spacer $spacer-s;

        &.dropdown-btn-mobile {
          display: none;
        }

        @include max(xl) {
          &.dropdown-btn {
            display: none;
          }

          &.dropdown-btn-mobile {
            display: block;
          }
        }

        i {
          padding-left: 0.2rem;
        }
      }

      &+li {
    
      }
    }
  }
}

.top {
  margin-bottom: $spacer-bottom;
  background-image: url(../images/header-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;

  @include max(md) {
    background-image: url(../images/header-1-m.jpg);
    height: 26vh;
    background-size: cover;
  }
}

//文字顏色
.text-primary {
  color: $primary;
}

.text-danger {
  color: $danger;
  font-weight: bolder;
  font-size: $h5-font-size;
}

.text-light {
  color: $light;
}

.text-warning {
  color: $warning;
}

//文字大小
.text-sm {
  font-size: $font-size-base;
}

//大容器用container
// .container-xl {
//   max-width: $max-width-xl;
//   margin: 0 auto;
//   padding: 0 $spacer-wrapper;

//   @include max(xl) {
   
//   }
// }

// .container-lg {
//   @extend .container-xl;
//   max-width: $max-width-lg;
//   margin-bottom:$spacer-bottom;
// }

//section用 block
.block-s {
 
  justify-content: center;
}

.block-l {}

//客製化grid
.one-md-s {
  @extend %one;

  @include min(md) {
    flex: 0 0 30%;
    max-width: 400px;

  }
}

.one-xl-l {
  @extend %one;

  @include min(xl) {
    flex: 0 0 70%;
    max-width: 70%;
   
  }
}

.one-lg-l {
  @extend %one;

  @include min(lg) {
    flex: 0 0 65%;
    max-width: 65%;
  }
}


//swiper
.swiper-container {
  width: 100%;
  max-width: 880px;
  margin-bottom: $spacer-bottom;
}

.swiper-button-prev,
.swiper-button-next {
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: '';
}

.swiper-button-prev {
  background-image: url(../images/swiper_prev.png);
}

.swiper-button-next {
  background-image: url(../images/swiper_next.png);
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #fff;
  opacity: 0.8;
}

.swiper-pagination-bullet-active {
  background: $secondary;
}

.head-bg {
  background-color: $primary;
  font-size: $h2-font-size;
  color: #fff;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  min-height: 52px;

  .left {
    display: flex;
    align-items: center;
  }

  @include max(md) {
    font-size: $h3-font-size;
    min-height: 42px;
  }

  .icon {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
    margin-right: 0.5rem;

    @include max(md) {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }
  }

  .icon-no-bg {

  
    img {
      width: 30px;

      @include max(lg) {
        min-width: 30px;
      }
    }

    margin-right: $spacer-s;
  }
}

.s-word {
  font-size: $font-size-s;
  font-weight: normal;
}

.side-menu {
  padding: $spacer;

  @include max(xl) {
    display: flex;
  }

  @include max(md) {
    display: block;
  }

  .qr {
 
    display: block;
    margin-left: 1.2rem;
    padding-top: 0.5rem;

    @include max(xl) {
      display: none;
    }

    img {
      max-width: 100px;
    }
  }

  li {
    padding-bottom: 0.8rem;

    &+li {
      @include max(xl) {
        margin-left: 1rem;
      }

      @include max(md) {
        margin-left: 0;
      }
    }

    &:last-child {
      padding-bottom: 0;
    }

    i {
      color: $secondary;
      padding-right: 0.5rem;
    }

    a {}
  }
}

//tab切換
.tab-item {
  display: none;

  &.show {
    display: block;
  }
}

//tab樣式
.tab {
  font-size: $tab-font-size;
  font-weight: bolder;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none
  }

  ul {
    display: flex;

    li {
      font-size: $h5-font-size;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      @include border;
   
      background: $primary;

      @include max(lg) {
        flex: none;
        border-radius: 0;
        font-size: $h6-font-size;
      }

      &.sel {
        background: $secondary;
      }

      a {
        padding: $spacer $spacer*2;
        color: #fff;
        display: block;

        @include max(lg) {
          padding: $spacer-s
        }
      }

      &+li {
        margin-left: 0.2rem;
      }
    }
  }
}

.tab-item-box {
  h2 {
    @include text-no;

    @include max(md) {
      max-width: 180px;
    }
  }
}

//box 單純只有框的樣式
.box-s {
  background-color: $gray-100;
  @include border;
  margin-bottom: $spacer-bottom;

  @include max(xl) {
    max-width: 880px !important;
    margin-bottom: $spacer;
  }
}

.box-s-tour {
  background-color: $gray-100;
  margin-bottom: $spacer-bottom;
  @include border;

  @include max(lg) {}
}

.box-m {

  @include border;
  margin-bottom: $spacer-bottom;
}

.box-l {
  background-color: #E8F0FF;
  padding: $spacer-box-s;
  margin-bottom: $spacer-bottom;
}

//item 個別項目用item ，可以客製化
.item-wrapper {

}

.item-l {
  display: flex;
  align-items: flex-end;
  margin-bottom: $spacer-bottom;

  @include max(md) {}

  .one-md {

  }
}

.item {
  h3 {
    min-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .item-img {
    margin-bottom: $spacer-s;
  }
}

.item-img {
  img {
    height: 19vw;
    max-height: 240px;

    @include max(sm) {
      height: auto;
    }
  }
}

.item-img-s {
  align-items: flex-end;

  img {
    max-height: 160px;
  }
}

.item-img-main {
  img {
    min-height: 260px;
  }

  @include max(md) {
    padding-bottom: $spacer-s;
  }
}

.item-price {
  margin-bottom: $spacer-s;
}

.item-date {
  margin-bottom: $spacer-s;

  span {
    color: $secondary;
    font-weight: bolder;
  }
}

.item-img-s {
  justify-content: flex-start;

  *+* {

  }
}

.item {
  text-align: center;

  margin-bottom: $spacer-bottom;
  @include border;
  padding: $spacer-box-s;
  background-color: #fff;

  @include max(md) {

  }
}

.list-block-wrapper {
  padding: $spacer;

  .list-block {
    margin-bottom: $spacer;
    padding-bottom: $spacer-s;
    @include border-bottom;

    &:last-child {
      margin-bottom: 0;
      border-bottom: 0;
    }

    .title {
     
      font-weight: bolder;
    }

    .list-block__btn-group {
      padding-top: $spacer-s;

      .btn-link {
        margin-bottom: $spacer-s;
      }
    }
  }
}

.tour-info {
  display: flex;
  justify-content: space-between;
  padding: $spacer;

  align-items: center;
  padding: $spacer;

  &.for-single {
    justify-content: flex-start;
    align-items: flex-start;

    .side-block {
      width: 50%;

      @include max(lg) {
        width: 100%;
      }
    }
  }

  @include max(lg) {
    display: block;
  }

  .tour-info__share {
    padding: $spacer-s 0;
  }
}

.tour-info__list {


  .list-item {
    display: flex;
    margin-bottom: $spacer-s;

 
    .title {
      min-width: 90px;
   
    }

    .content {}
  }
}

.travel-info {
  margin-bottom: $spacer-bottom;
}

.travel-info__list {
  text-align: center;
  @include border;
  border-bottom: 0;

  @include max(lg) {
    border: 0;
    padding-top: $spacer-s;
  }

  .head {
    padding: $spacer-s 0;
    background-color: $light-bg;
    @include border-bottom;

    @include max(lg) {
      display: none;
    }
  }

  .list-row {
    padding: $spacer-s 0;
    @include border-bottom;
    align-items: center;

    @include max(lg) {
      padding: $spacer-s;
      @include border;
      margin-bottom: $spacer-s;
    }

    .column {
      @include max(lg) {
        display: flex;
        justify-content: space-between;
        margin-bottom: $spacer-s;
   
      }
    }

    .title {
      display: none;

      @include max(lg) {
        display: block;
      }
    }

    .content {
      @include max(lg) {
        color: $primary;
      }
    }
  }
}

.space-bw {
  justify-content: space-between;

  .left {}

  .right {}
}

.price-info {
  .price-info__item {
    display: flex;

    +.price-info__item {
      margin-top: $spacer-s;
    }

    .title {
      display: block;
      min-width: 80px;
    }

    .content {}
  }
}

.itinerary {
  line-height: 1.5;
}

.itinerary__block {
  p {
    margin: $spacer 0;
  }

  .content {
    padding: $spacer;

    @include max(lg) {
      padding: $spacer 0;
    }

    .top-info {}

    .top-info__img {}

    .top-info__content {
      padding: $spacer;

      @include max(lg) {
        padding: $spacer 0 0;
      }

      h3 {
        font-size: $h1-font-size;
      }
    }

    .detail {}

    .bottom-info {
      .bottom-info__item {
        background-color: $gray-100;
        padding: $spacer;
        margin-bottom: $spacer-s;
        display: flex;
        align-items: center;

        @include max(lg) {
          flex-wrap: wrap;
        }

        .bottom-info__item__head {
          flex-basis: 133px;
          flex-shrink: 0;

          @include max(lg) {
            max-width: 100px;
          }
        }

        .bottom-info__item__content {
          @include max(lg) {
            width: 100%;
          }
        }
      }
    }
  }

  .features {
    padding: $spacer 80px $spacer;

    @include max(lg) {
      padding: $spacer 0;
    }
  }

  .other {


    i {
      color: $primary;
      padding-right: 0.5rem;
    }

    .other__block {
      margin-bottom: $spacer;
    }

    .btn-link {
      display: block;

      &+.btn-link {
        margin-top: $spacer-s;
      }
    }
  }
}

.top.for-taiwan-tkt{
margin-bottom: 0;
// height: 450px;
}

.top-menu{
  font-size: $h3-font-size;
  font-weight: bolder;
  background-color:$secondary;
  padding: $spacer 0;
  color: $white;
  z-index: 999;
  @include max(lg){
    font-size: $h5-font-size;
    padding: 0.5rem 0;
  }
  &.fix{
    position: fixed;
    transition: all .35s;
    top:50px;
    left: 0;
    right: 0;
  }
  .container-lg{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .top-menu__select{
    border:$white 2px solid;
    background-color:$secondary;
    padding: 0.3rem;
    color: #fff;
    @include min(lg){
      display: none;
    }
  }
  .top-menu__select__title{
    @include min(lg){
      display: none;
    }
  }
  .top-menu_list{
    display: flex;
    margin-left: -$spacer;
    li{
      line-height: 1;
      & + li{
        border-left:3px #fff solid;
      }
      a{
        padding:0 $spacer;
        color: $white;
        &:hover{
          opacity:0.8 ;
        }
      }
    }
   
    @include max(lg){
      display: none;
    }
  }
  .cart-btn{
    color: $white;
    i{
      padding-right: 0.2rem;
    }
  }
}

.tkt-content{
  background-color: #fafaf2;
  padding: $spacer*2 0 $spacer*2 0;
  &.for-fix{
    padding-top: 5rem;
  }
  .top-filter{
    text-align: center;
    padding-bottom: $spacer ;
    @include min(lg){
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    }
    h2{
      // margin-bottom: 0;
      @include max(lg){
        font-size: $h5-font-size;
        margin-bottom: $spacer;
      }
      
    }
    .filter{
      display: flex;
      // width: 100%;
      justify-content: center;
      @include max(lg){
        flex-wrap: wrap;
        margin-left: -1%;
        margin-right: -1%;
      }   
        
        input{
          // border: 0;
          padding: 0.3rem;
          height: 35px;
         
          @include min(lg){
          flex: 1 1 0;
         
          }
          @include max(lg){
            width: 64.6666%;
            margin-left: 1%;
          margin-right: 1%;
          }
          margin-right: 1%;
          
        }
        .close-btn{
          background: none;
          border: 0;
          width: 30px;
          cursor: pointer;
        }
        
      
      select{
       
        height: 35px;    
        @include min(lg){
          margin-right: 1%;
        flex: 1 1 0;
        }
        @include max(lg){
          width: 31.3333%;
          margin-left: 1%;
          margin-right: 1%;
          // & + select{
          //   margin-left: 1%;
         
          // }
          margin-bottom: 0.5rem;

        }
        // border-radius: 5px;
       
      }
      .btn-primary{
        height: 35px;     
        border-radius: 0;
padding: 0.3rem 2rem;
font-size: 1rem;
@include max(lg){
width: 31.3333%;
margin-left: 1%;
margin-right: 1%;
}
      }
    }
  }
  .tkt-content__list{
    .item{
      padding: 0;
      &:hover{
        box-shadow: 0 0 6px #ccc ;
      }
      h3{
        margin: $spacer 0;
        padding:0 $spacer-s;
      }
      .price{
        display: block;
        font-size: $h3-font-size;
        padding-bottom: $spacer;
        color:$secondary;
        font-weight: bolder;
      }
    }
  }
}

.page{
  display: flex;
  align-items: center;
  justify-content: center;
  .page-info{
    display: flex;
    align-items: center;
    margin-right: $spacer;
    @include max(lg){
      display: none;
    }
    select{
      height: 35px;
      margin-right: $spacer;
    }
    .page-info__number{

    }
  }
  .page-list{
    display: flex;
    align-items: center;
    li{
      margin:0 0.3rem ;
      @include max(lg){
        margin:0 0.2rem ;
      }
      a{
        display: block;
        padding: 0.3rem 0.6rem;
        @include border;
        background-color: #fff;

      }
      &.active{
        a{
          background-color:$secondary;
          color: #fff;
        }
      }
    }
  }
}

.popup-overlay{
  display: none;
  justify-content: center;
  align-items: center;
    top: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    padding-left: $gutter;
    padding-right: $gutter;
    -webkit-overflow-scrolling: touch;
    position: fixed;
  //  display: flex;
    z-index: 999999;
      
    background-color: rgba(0, 0, 0, 0.4);
    @include max(sm){
      // overflow-y: scroll;
    }  
    &.show{
      display: flex;
    }
    .close-btn{
      position: absolute;
      background: none;
      right:$spacer;
      border: 0;
      font-size: 1.5rem;
      cursor: pointer;
      top:$spacer ;
    }
}

.popup{
  width: 880px;
  max-width: 880px;
  
  position: relative;
//  min-height: 344px;
  background-color: #fff;
  iframe{
    width: 100%;
    height: 40vh;
    min-height: 340px;
    @include max(sm){
      height: 80vh;
    }
    // max-height: 80vh !important;
    // height: 100%;
  }
}
.cart-wrapper{
  max-width: 880px;
  padding: $spacer;
}
.cart{
 
  @include border;
  background-color: #fff;
  .list-item{
    text-align: center;
    padding: $spacer;
    .title{
      @include min(md){
        display: none;
      }      
    }
    .content{

    }

  }
  .cart__head{
    background-color: $primary;
    color: #fff;
    @include max(sm){
      display: none;
    }   
  }
  .cart__row{
    @include max(sm){
      padding:$spacer-s $spacer-s 0 $spacer-s;
    }    
    + .cart__row{
      border-top:#ccc 1px solid;
    }
    .list-item{
      @include max(sm){
      display: flex;
      padding:0 0 $spacer-s 0;
      // justify-content: space-between;
      }
      .qty{
        margin: 0 0.4rem;
      }
      .title{
        flex-shrink: 0;
        flex-basis: 60px;
        text-align: left;
        color: $primary;
        font-weight: bolder;        
        @include min(sm){
          display: none;
        }      
      }
      .content{
        @include max(sm){
        // color: $primary;
        }
      }
    }
    
  
    .list-item.one-sm-6{
      text-align: left;
    }
  }
 
}
.cart-price-wrapper{
  text-align: right;
  padding-bottom: $spacer;

}
.cart-price{
  display: inline-block;
  text-align: right;
  font-size:$h3-font-size;
  color: $danger;
  width: 16.666667%;
  text-align: center;
  padding-top: $spacer;
  font-weight: bolder;
  @include max(sm){
    width: 100%;
  }
}

.computer-btn{
  width: 25px;
  // margin:0 0.3rem;
  cursor: pointer;
}

.btn-wrapper-center{
  text-align: center;
  // padding-top: $spacer;
}
.btn-group{
  text-align: center;
  padding-top: $spacer;
  padding-bottom: $spacer ;
  .btn + .btn{
    margin-left: $spacer;
    @include max(md){
     
    margin-left:$spacer-s;
    }
  }
}

.product-btn-group{

  text-align: center;
  padding-top: $spacer;
  padding-bottom: $spacer ;
  .btn + .btn{
    margin-left: $spacer;
    @include max(md){
     
    margin: 0;
    }
  }
  .btn{
    @include max(md){
      border-radius: 0;
      width: 100%;
    margin: 0;
    padding:0.8rem 0;
    }

  }
  @include max(md){
    padding: 0;
position: fixed;
display: flex;
bottom: 0;
left: 0;
right: 0;

  }

}

.product-content{
  
  &__img{
    margin-bottom: $spacer;
    margin-top: $spacer;
  }
  &__info{
    // @include border;
    // background-color: #fff;
    .product-content-row{
      line-height: 1.5;
      display: flex;
      + .info-row{
        border-top: #ccc 1px solid;
      }
      .title{
        flex-shrink: 0;
        // background-color: $info;
        flex-basis: 100px;
        padding: $spacer 0;
        font-weight: bolder;
        // color: $primary;
        // border-right: #ccc 1px solid;

      }
      .content{
        padding: $spacer 0;

      }
    }
  }
}

.tkt-check{
  h1{

  }
  h2{

  }
}
.note{
  line-height: 1.5;
  margin-bottom: $spacer;
  &__item{
    margin-bottom: $spacer-s;

  }
}

.sign-in{
  display: none;
  margin: 2rem auto 0 auto;
  max-width: 600px;
  @include border;
  padding: $spacer;
  background-color: #fff;
  label{
    margin-bottom: $spacer-s;
    display: inline-block;
  }
  h3{
    color: $primary;
  }
  input{
    height: 35px;
    width: 100%;
    padding: 0.3rem;
    margin-bottom: $spacer;

  }
  .btn-link{
    + .btn-link{
      margin-left: $spacer;
    }

  }
  .btn-primary{
    width: 100%;
  }
  .btn-wrapper-center{
    margin-bottom: $spacer;
  }
  &__item{
    // margin-bottom: $spacer;
  }

}

.bottom-info{
  padding-top: 2rem;
  @include min(md){
    display: flex;
    justify-content: center;
  }
  &__box{
    margin-bottom: $spacer;
    @include min(md){
    margin:0 $spacer;
    }
    h3{
      color: $primary;
    }
    &.for-line{
      img{
        margin-bottom: $spacer;
      }
      p{
        margin-bottom: 0;

      }
      // text-align: center;
    }
  }
  &__list{
    line-height: 1.5;  

  }
  &__item{
    margin-bottom: $spacer-s;
    
  }

}

.pay{
  font-size:$h5-font-size;
  &__row{
    @include min(md){
      display: flex;      
    }    
    @include border-bottom;
    margin-bottom: $spacer;
   

  }
  &__title{
    flex-shrink: 0;
    padding-right: $spacer;
    color: $primary;
    font-weight:bolder;
    @include max(md){
      margin-bottom: $spacer-s;
    }
    &.ptup{
      @include min(md){
        padding-top: 0.4rem;
      }
    }
  }
  &__content{


  }
  &__more-info{
    display: inline-block;
    @include min(md){
    // margin-left: 15px;
    }
    margin-top: $spacer-s;
    // margin-bottom: $spacer;
    font-size: 1rem;
    padding: 0.3rem;
    background-color: #eee;
  }
  &__item{
    display: flex;
    align-items: baseline;
    margin-bottom: $spacer;
    label{

    }
    &__content{
      width: 100%;
    }
    

  }
  &__text{
    height: 35px;  
    padding: 0.3rem;
     min-width: 70%;
    // min-width:80%;
    @include max(md){
    width: 100%;
    }
  }
  &__radio{
    margin-right: 0.3rem;
    flex-shrink: 0;
    transform: scale(1.3);
   
  }
  &__select{
    height: 35px;  
    padding: 0.3rem;
    @include max(md){
    width: 100%;
    }
  }

}
.pay-data{
  // max-width: 600px;
  margin:0 auto $spacer auto;
}
.form{
  &__row{
  }
  &__title{
    flex-shrink: 0;
    flex-basis: 100px;

  }
  &__content{
    width: 100%;  
    height: 35px;  
    padding: 0.3rem;
  }
  &__item{
  display: flex;
  margin-bottom: $spacer;
  align-items: center;
  }
  &__box{

  }
}
.radio{
  display: flex;
 
  display: inline-block;
  + .radio{
    margin-left: $spacer-s;
  }
&__option{
  

  }
}
.textarea{
  align-items: flex-start;
  textarea{
    width: 100%;
    padding: 0.3rem;
  }
}

.tkt-check{
  h1{
    font-size:$h2-font-size
  }
  h2{
    font-size:$h3-font-size
  }
}